<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.consystem.Mapper.FileMapper">

    <insert id="addFile" parameterType="com.sicnu.consystem.Pojo.File" keyProperty="fid" useGeneratedKeys="true">
        insert into file (fname,fpath,furl) values (#{fname},#{fpath},#{furl});
    </insert>
    <select id="getMyfile" resultType="com.sicnu.consystem.Pojo.File">
        select * from file where fname=#{param1} and fpath=#{param2} and furl=#{param3}
    </select>
    <select id="getFileByFid" resultType="com.sicnu.consystem.Pojo.File">
        select * from file where fid=#{fid}
    </select>
</mapper>
